files:
  "/etc/docker/daemon.json":
    content: |
      {
        "log-driver": "json-file",
        "log-opts": {
          "max-size": "100m",
          "max-file": "3"
        }
      }

services:
  sysvinit:
    docker:
      enabled: "true"
      ensureRunning: "true"
      files:
        - "/etc/docker/daemon.json"
